.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-header {
    text-align: center;
}

.game-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 700px;
}

@media screen and (max-width: 600px) {
    .game-main {
        flex-direction: column-reverse;
    }
}
#game-controller-container{
    padding: 50px;
}

.game-sidebar{
    flex-grow: 2;
}
.board-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
#board {
    display: grid;
    grid-gap: 7px;
    width: 30vh;
    height: 30vh;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
}

.cell {
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 50px;
    padding: 0;
}

#restart-btn {
    
}