.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    text-align: center;
}
.game-header {
    text-align: center;
}

.game-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    gap: 30px;
    flex-direction: column-reverse;
}
#connection-status{
    position: absolute;
}
@media screen and (max-width: 600px) {
    .game-main {
        flex-direction: column-reverse;
    }
}

#users {
    list-style: decimal;
}
#game-controller-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.game-sidebar{
    flex-grow: 2;
}
.board-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
#board {
    display: grid;
    grid-gap: 7px;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
}

.cell {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 96px;
    width: 96px;
    font-size: 50px;
    padding: 0;
}

#restart-btn {
    
}