:root {
  --background-color-a: #acebd6;
  --background-color-b: whitesmoke;
  font-size: medium;
}

html {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  background-color: var(--background-color-b);
}
body {
}
.game-container {
  align-items: center;
  padding: 7px;
  height: 95vh;
  max-width: 800px;
  background-color: var(--background-color-a);
  border-radius: 13px;
  margin: 0 auto;
}

h3 {
  text-align: center;
}
.game-header {
  text-align: center;
}

.game-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  gap: 30px;
  flex-direction: column-reverse;
}
#connection-status {
  position: absolute;
}

#users-container {
  position: fixed;
  float: left;
}

@media screen and (max-width: 600px) {
  .game-main {
    flex-direction: column-reverse;
  }
}
h1 {
  text-align: center;
}
.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join-form {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: start;
  padding: 30px;
}
#users {
  opacity: 0.9;
  padding: 0;
  list-style: decimal;
  height: 4rem;
  overflow: auto;
  overflow-x: hidden;
  visibility: hidden;
}
#users-header {
  font-size: x-large;
  cursor: pointer;
}
#game-controller-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.game-sidebar {
  flex-grow: 2;
}
.board-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
#board {
  display: grid;
  grid-gap: 7px;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
}

.cell {
  background-color: var(--background-color-a);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 96px;
  width: 96px;
  font-size: 50px;
  padding: 0;
}

#restart-btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--background-color-b);
  border: 1;
  margin-left: 3px;
  font-size: 17px;
  border-radius: 5px;
}
